{% extends "pochta_main/base.html" %}
{% load static %}
{% block content %}
<div id="page-main" style="height: 550px;">
        <div class="Main__Layout-sbuybw-0 jTiZei" style="opacity: 1; transform-origin: 50% top 0px; transition: opacity 500ms ease-out 0.1s, transform 500ms cubic-bezier(0, 0, 0.001, 1) 0.1s;
            flex: 1 0 auto; width: 100%; -moz-box-pack: center; justify-content: center; background-color: white; flex-direction: column; -moz-box-align: center; align-items: center; height: 100%;">
            <div style="max-width: 100%; height: 100%;">
                <div class="Main__MainPageContainer-sbuybw-1 cqFCgN"
                    style="display: flex;flex-direction: row;height: 100%; flex: 1 0 300px">
                    <div class="Main__Tracking-sbuybw-2 gWuLji" style="flex: 1 0 315px; display: flex; flex-direction: column; -moz-box-pack: center; -moz-box-align: center;
                        align-items: center; padding-top: 20px;">
                        <a href="{% url 'upload' %}"><div id="profile-save-btn" class="button user-profile-page__save-btn"
                            style="margin: 5px 0 0 0; background: #0055a6 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAqCAIAAAD9HKYrAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAENJREFUeNpcTskNACAIq2zswK7SKgEi+iC9aACYyyAY4EMDGVw6qNSNl+8oXo7UvjNOn83Tx4cyT/3kdZ/xV3S2AAMAzVY9Uy9CZKMAAAAASUVORK5CYII=); color: white;">
                            <span>Загрузить</span>
                        </div></a>
                        <a href="{% url 'files' %}"><div id="profile-save-btn" class="button user-profile-page__save-btn"
                            style="margin: 5px 0 0 0; background: #0055a6 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAqCAIAAAD9HKYrAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAENJREFUeNpcTskNACAIq2zswK7SKgEi+iC9aACYyyAY4EMDGVw6qNSNl+8oXo7UvjNOn83Tx4cyT/3kdZ/xV3S2AAMAzVY9Uy9CZKMAAAAASUVORK5CYII=); color: white;">
                            <span>Реестор файлов</span>
                       </div></a>
                        <a href="{% url 'billing' %}"><div id="profile-save-btn" class="button user-profile-page__save-btn"
                            style="margin: 5px 0 0 0; background: #0055a6 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAqCAIAAAD9HKYrAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAENJREFUeNpcTskNACAIq2zswK7SKgEi+iC9aACYyyAY4EMDGVw6qNSNl+8oXo7UvjNOn83Tx4cyT/3kdZ/xV3S2AAMAzVY9Uy9CZKMAAAAASUVORK5CYII=); color: white;">
                            <span>Биллинг</span>
                        </div></a>
                    </div>

                    <div class="MainTitle__Title-sc-1igmty5-0 bbzCrQ" style="flex: 1 0 645px; line-height: 48px; font-size: 40px; font-weight: 300; border-left: 1px solid lightgray;">

                        <div style="display: contents;text-align: center; line-height: 48px; font-size: 40px; font-weight: 300; flex: 1 0 645px; padding: 0px 0px 0px; border-left: 1px solid lightgrey;">
                            <table width="85%" cellpadding="6" cellspacing="6" cols="5" style="padding-left: 10px; padding-right: 10px; font-weight: normal; font-size: 18px; line-height: 100%; color: #343434; margin-top: 10px">
                                <tr>
                                    <th style="color:gray"><input type="checkbox" name="check_file" value="all"></th>
                                    <th style="color:gray">Дата</th>
                                    <th style="color:gray">Имя файла</th>
                                    <th style="color:gray">Статистика</th>
                                    <th style="color:gray">Результат</th>
                                </tr>
                                {% for file in files %}
                                 <tr>
                                    <td style="color:gray"><input type="checkbox" name="check_file" value="{{ forloop.counter }}"></td>
                                    <td style="color:gray">{{ file.date_upload }}</td>
                                    <td style="cursor:pointer;"  onclick="window.location='{{ file.id }}'" style="color:gray">{{ file.filename }}</td>
                                    <td style="color:gray">{{ file.state }}%</td>
                                    <td style="color:gray">
                                        {% if file.result %}
                                            <b>✔</b>
                                        {% else %}
                                            <b>✖</b>
                                        {% endif %}</td>
                                </tr>
                                {% endfor %}
                            </table>
                            <div id="profile-save-btn" class="button user-profile-page__save-btn"
                            style="margin: 10px 200px 10px 0; float: right; background: #0055a6 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAqCAIAAAD9HKYrAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAENJREFUeNpcTskNACAIq2zswK7SKgEi+iC9aACYyyAY4EMDGVw6qNSNl+8oXo7UvjNOn83Tx4cyT/3kdZ/xV3S2AAMAzVY9Uy9CZKMAAAAASUVORK5CYII=); color: white;">
                            <span>Скачать</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}