<div class="footer-container" style="background: #E6E6E6; padding-top: 0;">
    <div class="footer">
        <div class="footer__copyright">2020 FOXGROUP</div>
        <div class="footer__menu">
            <div class="footer__socials">
                <a target="_blank" href="{% url 'pass' %}" class="footer__social-vk"></a>
                <a target="_blank" href="{% url 'pass' %}"
                   class="footer__social-fb"></a>
                <a target="_blank" href="{% url 'pass' %}"
                        class="footer__social-inst"></a>
                <a target="_blank" href="{% url 'pass' %}" class="footer__social-ok"></a>
                <a target="_blank" href="{% url 'pass' %}" class="footer__social-twitter"></a>
            </div>
        </div>
    </div>
</div>